<div class="text-center">
    <p class="m-3">
        Page : {{ page }} -
        <small><i>{{ nbRecords < 2 ? nbRecords ~ ' résultat trouvé' : nbRecords ~ ' résultats trouvés'}}</i></small>
    </p>
</div>

{% if nbPages > 0 %}
    <div class="d-flex align-items-center justify-content-center pagination-buttons">
        {% if page == 1 %}
            <a class="mx-5 mb-5 btn btn-light d-flex btn-disabled disabled" disabled="disabled">
                Précédent
            </a>
            {% if nbPages > 1 %}
                <a class="mx-5 mb-5 pl-2 pr-0 btn btn-light d-flex" href="{{ path('quotation_admin', {'page': page + 1}|merge(app.request.query.all)) }}">
                    Suivant <span uk-icon="chevron-double-right" class="mr-1 ml-1"></span>
                </a>
            {% else %}
                <a class="mx-5 mb-5 btn btn-light d-flex btn-disabled disabled" disabled="disabled">
                    Suivant
                </a>
            {% endif %}
        {% elseif page < nbPages %}
            <a class="mx-5 mb-5 pl-0 pr-2 btn btn-light d-flex" href="{{ path('quotation_admin', {'page': page - 1}|merge(app.request.query.all)) }}">
                <span uk-icon="chevron-double-left" class="ml-1 mr-1"></span> Précédent
            </a>
            <a class="mx-5 mb-5 pl-2 pr-0 btn btn-light d-flex" href="{{ path('quotation_admin', {'page': page + 1}|merge(app.request.query.all)) }}">
                Suivant <span uk-icon="chevron-double-right" class="mr-1 ml-1"></span>
            </a>
        {% else %}
            <a class="mx-5 mb-5 pl-0 pr-2 btn btn-light d-flex" href="{{ path('quotation_admin', {'page': page - 1}|merge(app.request.query.all)) }}">
                <span uk-icon="chevron-double-left" class="ml-1 mr-1"></span> Précédent
            </a>
            <a class="mx-5 mb-5 btn btn-light d-flex btn-disabled disabled" disabled="disabled">
                Suivant
            </a>
        {% endif %}
    </div>
{% endif %}
