<div class="quotation-discount-section">
    {{ form_start(formQuotationDiscount, {'attr':{'class':'mt-4'}}) }}

    <div class="d-flex align-items-center">
        {{ form_label(formQuotationDiscount.cartId, null, {'label_attr':{'class':'form-label col-sm-6 mt-2'}}) }}
        <div class="col-sm-12">
            {{ form_widget(formQuotationDiscount.cartId) }}
        </div>
        <button id="submitCartRuleToUse" class="btn btn-light d-flex ml-3">
            <span uk-icon="icon: arrow-right" class="mr-1"></span> Utiliser
        </button>
    </div>

    {{ form_end(formQuotationDiscount) }}

        <span id="js-data-discount"
              data-source="{{ path('quotation_admin_autocompletion_ajax_discount') }}"
              data-discount="{{ path('quotation_admin_show_discount', {id_cart_rule: 0}) }}"
              data-cart="{{ path('quotation_admin_show_cart_discounts', {id_cart: 0}) }}">
        </span>
    </form>
</div>