{{ form_start(formQuotationCustomer, {'attr':{'class':'mt-4'}}) }}

<div class="d-flex align-items-center">
    {{ form_label(formQuotationCustomer.customerId, null, {'label_attr':{'class':'form-label col-sm-6 mr-2 mt-2'}}) }}
    {{ form_widget(formQuotationCustomer.customerId) }}
</div>

<span id="js-data" data-source="{{ path('quotation_admin_autocompletion_ajax') }}"></span>

{{ form_end(formQuotationCustomer) }}