<div class="quotation-cart-section">
    {{ form_start(formQuotationProduct, {'attr':{'class':'mt-4'}}) }}

    <div class="d-flex align-items-center">
        {{ form_label(formQuotationProduct.cartId, null, {'label_attr':{'class':'form-label col-sm-6 mt-2'}}) }}
        <div class="col-sm-12">
            {{ form_widget(formQuotationProduct.cartId) }}
        </div>
    </div>

    {{ form_end(formQuotationProduct) }}

    <form id="add-product-to-cart" method="POST" data-urlpost="{{ path('quotation_admin_create_new_cart') }}">
        <div id="js-output-product-to-cart" class="d-none">
            <div id="section-attributes-product" class="form-group d-flex align-items-center mt-4">
                <label class="col-sm-6">Déclinaison</label>
                <div class="col-sm-12">
                    <select id="js-output-attributes-products" class="col-sm-12" name="attributes">
                        <!-- Attributes Products here! -->
                    </select>
                </div>
            </div>

            <div id="section-quantity" class="form-group d-flex align-items-center mt-4">
                <label class="col-sm-6 mb-4">Quantité</label>
                <div class="col-sm-12">
                    <input type="text" name="qty" id="product-quantity" class="col-sm-12" value="1"/>
                    <p>En stock <span id="quantity-in-stock"><!-- Quantity Products here! --></span></p>
                </div>
            </div>

            <div class="form-group mt-4">
                <div class="col-sm-6 offset-sm-6">
                    <button type="submit" class="btn btn-outline-primary" id="submitProductToCart"/>
                    Ajouter au panier
                </div>
            </div>
        </div>

        <span id="js-data-product"
              data-source="{{ path('quotation_admin_autocompletion_ajax_product') }}"
              data-sourceattributes="{{ path('quotation_admin_show_product', {id_product: 0}) }}">
        </span>
    </form>
</div>