{{ form_start(form) }}

<div class="d-flex align-items-center">
    <div class="form-label">
        {{ form_label(form.customerId) }}
    </div>
    {{ form_widget(form.customerId) }} ou
    {% include '@Modules/quotation/templates/admin/_new/new_customer.html.twig' %}
</div>

<span id="js-data" data-source="{{ path('quotation_admin_autocompletion_ajax') }}"></span>

<div class="d-flex justify-content-center">
    <button class="btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>
</div>

{{ form_end(form) }}

