{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% form_theme quotationFilterForm 'bootstrap_4_layout.html.twig' %}

 {% block content %}

     <div class="quotation">
         <div class="card">
             <div class="quotation-head mb-3 d-flex justify-content-between">

                 <div class="d-flex align-items-center">
                     <h1 class="panel-heading">Devis</h1>
                     <span class="badge ml-2">5</span>
                 </div>

                 <div class="d-flex">
                     <div class="icon">
                         <div class="infobulle">
                             <div class="bloc-infobulle">
                                 <span class="text-infobulle">
                                    Créer un devis
                                 </span>
                                 <div class="arrow"></div>
                             </div>
                         </div>

                         <a href="{{ path('quotation_admin_add') }}">
                             <span uk-icon="icon: plus-circle" class="justify-content-end"></span>
                         </a>
                     </div>

                     <div class="icon">
                         <div class="infobulle">
                             <div class="bloc-infobulle">
                                 <span class="text-infobulle">
                                    Exporter
                                 </span>
                                 <div class="arrow"></div>
                             </div>
                         </div>

                         <a href="#">
                             <span uk-icon="icon: pull" class="justify-content-end"></span>
                         </a>
                     </div>

                     <div class="icon">
                         <div class="infobulle">
                             <div class="bloc-infobulle">
                                 <span class="text-infobulle">
                                    Rafraîchir
                                 </span>
                                 <div class="arrow"></div>
                             </div>
                         </div>

                         <a id="refresh" href="{{ path('quotation_admin') }}">
                             <span uk-icon="icon: refresh" class="justify-content-end"></span>
                         </a>
                     </div>

                 </div>

             </div>

             <table class="table table-stripped">
                 <thead class="border-0">
                 <tr>
                     <td></td>
                     <td>
                         <label for="id_quotation">ID</label>
                     <td>
                         <label for="reference">Référence</label>
                     </td>
                     <td>
                         <label for="customer">Client</label>
                     </td>
                     <td>
                         <label for="message">Message</label>
                     </td>
                     <td>
                         <label for="date_add">Date d'ajout</label>
                     </td>
                     <td>
                         <label for="status">Status</label>
                     </td>
                     <td>
                         <label for="total">Prix total du devis</label>
                     </td>
                     <td>
                         <label for="pdf">PDF</label>
                     </td>
                     <td>
                         <label for="actions">Actions</label>
                     </td>
                 </tr>
                 <tr class="search">
                     {{ form_start(quotationFilterForm, {'attr':{ 'id': 'filter_quotations_form'}}) }}
                     <td></td>
                     <td></td>
                     <td>
                         {{ form_row(quotationFilterForm.reference) }}
                     </td>
                     <td>
                         {{ form_row(quotationFilterForm.name) }}
                     </td>
                     <td></td>
                     <td>
                         <div class="d-flex input-date">
                             <span uk-icon="icon: calendar" class="d-flex justify-content-end mr-2"></span>
                             {{ form_row(quotationFilterForm.start , {'attr':{ 'class': 'datepicker'}}) }}
                         </div>

                         <div class="d-flex input-date mt-1">
                             <span uk-icon="icon: calendar" class="d-flex justify-content-end mr-2"></span>
                             {{ form_row(quotationFilterForm.end, {'attr':{ 'class': 'datepicker'}}) }}
                         </div>
                     </td>
                     <td>
                         {{ form_row(quotationFilterForm.status) }}
                     </td>
                     <td></td>
                     <td></td>
                     <td>
                         <button class="search_button btn btn-light d-flex"><span uk-icon="icon: search"
                                                                                  class="mr-1"></span>Rechercher
                         </button>
                     </td>
                     {{ form_end(quotationFilterForm) }}
                 </tr>
                 </thead>

                 <tbody>
                 {% for quotation in quotations %}
                     <tr class="bg-{{ loop.index0 is even ? 'light' : 'none' }}">
                         <td>
                             <input type="checkbox">
                         </td>
                         <td>{{ quotation.id_quotation }}</td>
                         <td>{{ quotation.reference }}</td>
                         <td>{{ quotation.firstname }} {{ quotation.lastname }}</td>
                         <td>{{ quotation.message_visible }}</td>
                         <td>{{ quotation.date_add|date('d/m/Y') }}</td>
                         <td>{{ quotation.status }}</td>
                         <td>{{ quotation.total_product_price|number_format(2) }} €</td>
                         <td>
                             <a href="{{ path('quotation_admin_pdf', { id_quotation: quotation.id_quotation, firstname: quotation.firstname, lastname: quotation.lastname}) }}" target="_blank">
                                 <span uk-icon="icon: file-pdf; ratio: 1.2" class="d-flex justify-content-center"></span>
                             </a>
                         </td>
                         <td>
                             <select name="actions" id="actions">
                                 <option selected="selected">-</option>
                                 <option value="">Modifier le devis</option>
                                 <option value="">lorem ipsum</option>
                                 <option value="">lorem ipsum</option>
                             </select>
                         </td>
                     </tr>
                 {% else %}
                     <tr>
                         <td>Aucun devis pour le moment</td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>

             <div class="group-action">
                 <a class="btn btn-light d-flex" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                     Actions groupées
                     <span uk-icon="icon: triangle-down"></span>
                 </a>
                 <div class="collapse" id="collapseExample">
                     <div class="card card-body">
                         <div class="d-flex align-items-center">
                             <input class="uk-checkbox" type="checkbox" checked="checked" name="select" id="select">
                             <span uk-icon="icon: check-square" class="justify-content-end"></span>
                             <label for="select" class="m-0 mr-1">Tout sélectionner</label>
                         </div>
                         <div class="d-flex align-items-center">
                             <input class="uk-checkbox" type="checkbox" name="unselect" id="unselect">
                             <label for="unselect" class="m-0 mr-1">Tout désélectionner</label>
                         </div>
                     </div>
                 </div>
             </div>

             <!-- Pagination -->
                    {% include '@Modules/quotation/templates/admin/common/pagination.html.twig' %}
             <!-- End pagination -->

         </div>
     </div>
 {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('quotation-bundle/quotation-bundle.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
    {% endblock %}
