{% extends '@PrestaShop/Admin/layout.html.twig' %}
{#{% form_theme formQuotationFilter 'bootstrap_4_layout.html.twig' %}#}

 {% block content %}

     <div class="quotation">
         <div class="card">
             <div class="quotation-head mb-3 d-flex justify-content-between">

                 <div class="d-flex align-items-center">
                     <h1 class="panel-heading">Devis</h1>
                     <span class="badge ml-2">5</span>
                 </div>

                 <div class="d-flex">
                     <div class="icon">
                         <div class="infobulle">
                             <div class="bloc-infobulle">
                                 <span class="text-infobulle">
                                    Créer un devis
                                 </span>
                                 <div class="arrow"></div>
                             </div>
                         </div>

                         <a href="{{ path('quotation_admin_add') }}">
                             <span uk-icon="icon: plus-circle" class="justify-content-end" data-toggle="modal"
                                   data-target="#exampleModalCenter"></span>
                         </a>
                     </div>

                     <div class="icon">
                         <div class="infobulle">
                             <div class="bloc-infobulle">
                                 <span class="text-infobulle">
                                    Exporter
                                 </span>
                                 <div class="arrow"></div>
                             </div>
                         </div>

                         <a href="#">
                             <span uk-icon="icon: pull" class="justify-content-end"></span>
                         </a>
                     </div>

                     <div class="icon">
                         <div class="infobulle">
                             <div class="bloc-infobulle">
                                 <span class="text-infobulle">
                                    Rafraichir la liste
                                 </span>
                                 <div class="arrow"></div>
                             </div>
                         </div>

                         <a href="#">
                             <span uk-icon="icon: refresh" class="justify-content-end"></span>
                         </a>
                     </div>

                 </div>

             </div>

             <table class="table table-stripped">
                 <thead class="border-0">
                 <tr>
                     <td></td>
                     <td>
                         <label for="id_quotation">ID</label>
                     <td>
                         <label for="reference">Référence</label>
                     </td>
                     <td>
                         <label for="customer">Client</label>
                     </td>
                     <td>
                         <label for="message">Message</label>
                     </td>
                     <td>
                         <label for="date_add">Date d'ajout</label>
                     </td>
                     <td>
                         <label for="status">Status</label>
                     </td>
                     <td>
                         <label for="total">Prix total du devis</label>
                     </td>
                     <td>
                         PDF
                     </td>
                     <td>
                         <label for="actions">Actions</label>
                     </td>
                 </tr>
                 <tr class="search">
{#                     {{ form_start(formQuotationFilter) }}#}
                     <td></td>
                     <td>
                         <input type="text" class="input-text" name="id_quotation" id="id_quotation">
                     </td>
                     <td>
{#                         {{ form_row(formQuotationFilter.reference) }}#}
{#                         <input type="text" class="input-text" name="reference" id="reference">#}
                     </td>
                     <td>
{#                         {{ form_row(formQuotationFilter.firstname) }}#}
{#                         <input type="text" class="input-text" name="customer" id="customer">#}
                     </td>
                     <td>
                         <input type="text" class="input-text" name="message" id="message">
                     </td>
                     <td>
{#                         {{ form_row(formSearchQuotation.date_add) }}#}
{#                         <div class="d-flex input-date">#}
{#                             <span uk-icon="icon: calendar" class="d-flex justify-content-end mr-2"></span>#}
{#                             <input type="date" name="date_add" id="date_add">#}
{#                         </div>#}

{#                         <div class="d-flex input-date mt-1">#}
{#                             <span uk-icon="icon: calendar" class="d-flex justify-content-end mr-2"></span>#}
{#                             <input type="date" name="date_add" id="date_add">#}
{#                         </div>#}
                     </td>
                     <td>
                         <select name="status" id="status">
                             <option selected="selected">-</option>
                             <option value="">Abandonné</option>
                             <option value="">A valider</option>
                             <option value="">Validé</option>
                             <option value="">Commandé</option>
                         </select>
                     </td>
                     <td>
                         <input type="text" class="input-text" name="total" id="total">
                     </td>
                     <td></td>
                     <td>
{#                         <a href="#" class="btn btn-light d-flex">#}
{#                             <span uk-icon="icon: search" class="mr-1"></span> Rechercher#}
{#                         </a>#}
{#                         <button>Rechercher</button>#}
                     </td>
{#                     {{ form_end(formQuotationFilter) }}#}
                 </tr>
                 </thead>

                 <tbody>
                 {% for quotation in quotations %}
                     <tr class="bg-{{ loop.index0 is even ? 'light' : 'none' }}">
                         <td>
                             <input type="checkbox">
                         </td>
                         <td>{{ quotation.id_quotation }}</td>
                         <td>{{ quotation.reference }}</td>
                         <td>{{ quotation.firstname }} {{ quotation.lastname }}</td>
                         <td>{{ quotation.message_visible }}</td>
                         <td>{{ quotation.date_add|date('d/m/Y') }}</td>
                         <td>{{ quotation.status }}</td>
                         <td>{{ quotation.total_product_price|number_format(2) }} €</td>
                         <td>
                             <a href="#">
                                 <span uk-icon="icon: pdf-file" class="justify-content-end"></span>
                             </a>
                         </td>
                         <td>
                             <select name="actions" id="actions">
                                 <option selected="selected">-</option>
                                 <option value="">Modifier le devis</option>
                                 <option value="">lorem ipsum</option>
                                 <option value="">lorem ipsum</option>
                             </select>
                         </td>
                     </tr>
                 {% else %}
                     <tr>
                         <td>Aucun devis pour le moment</td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>

             <div class="group-action">
                 <a class="btn btn-light d-flex" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                     Actions groupées
                     <span uk-icon="icon: triangle-down"></span>
                 </a>
                 <div class="collapse" id="collapseExample">
                     <div class="card card-body">
                         <div class="d-flex align-items-center">
                             <input class="uk-checkbox" type="checkbox" checked="checked" name="select" id="select">
                             <span uk-icon="icon: check-square" class="justify-content-end"></span>
                             <label for="select" class="m-0 mr-1">Tout sélectionner</label>
                         </div>
                         <div class="d-flex align-items-center">
                             <input class="uk-checkbox" type="checkbox" name="unselect" id="unselect">
                             <label for="unselect" class="m-0 mr-1">Tout désélectionner</label>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
     </div>
 {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('quotation-bundle/quotation-bundle.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
    {% endblock %}

